# Logging
Logbook==0.8.0

# Scientific Libraries
pytz==2014.4
numpy==1.9.1

# scipy and pandas are required for statsmodels,
# statsmodels in turn is required for some pandas packages
scipy==0.14.0
pandas==0.15.1
# Needed for parts of pandas.stats
patsy==0.2.1
statsmodels==0.6.0

python-dateutil==2.2
six==1.8.0

# For fetching remote data
requests==2.4.3
